.calender{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 30px repeat(5, 1fr);
    row-gap: 20px;
    column-gap: 10px;
   
}
.date, .day{
    background-color: skyblue;
    border-radius: 5px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
}
.day{
    background-color: lightgrey;
    font-size: 1em;

}